.expenses {
  padding: 1rem;
  /* background-color: rgb(31, 31, 31); */
  /* background-color: #4b4b4b; */
  background-color: #2b2c2f;

  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  /* this box-shadow above will override the box-shadrow coming from Card if it's used */
}
